<ul> 
    <!-- Iterate over object_list -->
    {% for object in object_list %} 
    <!-- Display Objects -->
    <li>{{object.APPOINT_NO}}</li> 
    <li>{{object.APPOINT_NAME}}</li> 
    <li>{{object.l1 }}</li> 
    <li>{{object.l2}}</li> 
    <li>{{object.l3 }}</li> 
    <li>{{object.l4}}</li> 
    <li>{{object.l5}}</li> 
    <li>{{object.l6}}</li> 
    <li>{{object.l7}}</li> 
    <li>{{object.l8 }}</li> 
    <li>{{object.l9 }}</li> 
    <li>{{object.l10}}</li> 
    <li>{{object.l11}}</li> 
    <li>{{object.l12}}</li> 
    <li>{{object.l13}}</li> 
    <li>{{object.l14}}</li> 
    <li>{{object.l15}}</li> 
    <li>{{object.D1}}</li> 
    <li>{{object.D2}}</li> 
    <li>{{object.D3}}</li> 
    <li>{{object.D4}}</li> 
    <li>{{object.D5}}</li> 
    <li>{{object.D6}}</li> 
    <li>{{object.D7}}</li> 
    <li>{{object.D8}}</li> 
    <li>{{object.D9}}</li> 
    <li>{{object.D10}}</li> 
    <li>{{object.D11}}</li> 
    <li>{{object.D12}}</li> 
    <li>{{object.D13}}</li> 
    <li>{{object.D14}}</li> 
    <li>{{object.D15}}</li> 
    <li>{{object.D16}}</li> 
    <li>{{object.D17}}</li> 
    <li>{{object.D18}}</li> 
    <li>{{object.D19}}</li> 
    <li>{{object.D20}}</li> 
    <li>{{object.D21}}</li> 
    <li>{{object.D22}}</li> 
    <li>{{object.D23}}</li> 
    <li>{{object.D24}}</li> 
    <li>{{object.D25}}</li> 
    <li>{{object.D26}}</li> 
    <li>{{object.D27}}</li> 
    <li>{{object.D28}}</li> 
    <li>{{object.D29}}</li> 
    <li>{{object.D30}}</li>  
  
    <hr/> 
    <!-- If objet_list is empty  -->
    {% empty %} 
    <li>No objects yet.</li> 
    {% endfor %} 
</ul> 
