
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <style>
        .carousel-control.left, .carousel-control.right {
           background-image:none !important;
           filter:none !important;
        }
        .center{
          margin: auto;
        }
        .jumbotron{
         width:60%;
/*         height:60%;*/

     }
        * {
  box-sizing: border-box;
}


        .spacing{
            margin: 6px
        }
/*
        .navbar{
            background-color:
        }
*/
        .carousel-inner{
            min-height: 400px

        }
        .page-footer{
            height: 50px;
            background-color: black;
        }
        option{
            min-width: 50px;
        }
        img {
          border-radius: 50%;
        }
        .form-control{
            color: #A2A2A2;
        }
        .btun button{
            margin-bottom: 5px;
            margin-left: 10px;
            margin-right: 10px;
        }
        .ex{
            width: 11%;
        }
            li a{
                color: white;
            }
            
    </style>
    </head>
    
    <body>
        
        <div class="container">
        
        <nav class="navbar navbar-expand-sm bg-dark">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact Us</a>
    </li>
  </ul>

</nav>
            <br>
            <div id="myCarousel" class="carousel slide jumbotron center" data-ride="carousel">
                
                <div class="btun" style="text-align:center;padding: 5px;">
    
                    <button type="button" class="btn btn-outline-dark b ex" onclick="currentSlide(1)" style="text-align: center;"><span id="s">Page1</span></button> 
                    <button type="button" class="btn btn-outline-dark b ex" onclick="currentSlide(2)"><span id="s">Page2</span></button> 
                    <button type="button" class="btn btn-outline-dark b ex" onclick="currentSlide(3)"><span id="s">Page3</span></button> 
                    <button type="button" class="btn btn-outline-dark b ex" onclick="currentSlide(4)"><span id="s">Page4</span></button> 
                    <button type="button" class="btn btn-outline-dark b ex" onclick="currentSlide(5)"><span id="s">Page5</span></button>
                    <button type="button" class="btn btn-outline-dark b ex" onclick="currentSlide(6)"><span id="s">Page6</span></button> 
                   <br>
                </div>
    <form action="" method="">
        {% csrf_token %}

            <div class="carousel-inner">
      <div class="item active">
        <table class="table table-striped">
          <tbody>
             <tr>
                <td colspan="1">
                   <div class="well form-horizontal">
                      <fieldset>
                          <div class="form-group row">
                              <label class="col-md-4 control-label" class="col-md-4 control-label" for="id_ID_NUMBER">ID NUMBER:</label> 
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                                        <input type="text" name="ID_NUMBER" id="id_ID_NUMBER" value="{{obj.ID_NUMBER}}" disabled>
                                  </div>
                              </div>
                            
                          </div>
                         
                          <div class="form-group row">
            <label class="col-md-4 control-label" for="id_SEQUENCE_NUMBER">SEQUENCE NUMBER:</label> 
                    <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
        <input type="text" name="SEQUENCE_NUMBER" id="id_SEQUENCE_NUMBER" value="{{obj.SEQUENCE_NUMBER}}" disabled>
                        </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
                              
    <label class="col-md-4 control-label" for="id_TITLE">TITLE:</label> 
                                    <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="text" name="TITLE" id="id_TITLE" value="{{obj.TITLE}}" disabled>
                                        </div>
                              </div>
                              
                          </div>
                          
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_FIRST_NAME">FIRST NAME:</label> 
            <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
        <input type="text" name="FIRST_NAME" id="id_FIRST_NAME" value="{{obj.FIRST_NAME}}" disabled>
                </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
                              
    <label class="col-md-4 control-label" for="id_MIDDLE_NAME">MIDDLE NAME:</label> 
            <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                                         
        <input type="text" name="MIDDLE_NAME" id="id_MIDDLE_NAME" value="{{obj.MIDDLE_NAME}}" disabled>
                </div>
                              </div>
                                         
                          </div>
                          
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_LAST_NAME">LAST NAME:</label> 
                                <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="text" name="LAST_NAME" id="id_LAST_NAME" value="{{obj.LAST_NAME}}" disabled>
                                    </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
                              
    <label class="col-md-4 control-label" for="id_FATHER_NAME">FATHER NAME:</label> 
            <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
        <input type="text" name="FATHER_NAME" id="id_FATHER_NAME" value="{{obj.FATHER_NAME}}" disabled>
                </div>
                              </div>
                          </div>
                          
                       </fieldset>
                    </div>
                 </td>
              </tr>
            </tbody>
          </table>
                </div>
                
            <div class="item">
                <table class="table table-striped">
          <tbody>
             <tr>
                <td colspan="1">
                   <div class="well form-horizontal">
                      <fieldset>
                       
                          <div class="form-group row">
                              
    <label class="col-md-4 control-label" for="id_INCREMENT_DATE">INCREMENT DATE:</label> 
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="text" name="INCREMENT_DATE" required id="id_INCREMENT_DATE" value="{{obj.INCREMENT_DATE}}" disabled>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
                            
    <label class="col-md-4 control-label" for="id_DATE_OF_BIRTH">DATE OF BIRTH:</label> 
        <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
        <input type="text" name="DATE_OF_BIRTH" required id="id_DATE_OF_BIRTH" value="{{obj.DATE_OF_BIRTH}}" disabled>
            </div>
                              </div>
                          </div>
                           
                          
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_DATE_OF_JOINING">DATE OF JOINING:</label> 
            <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
        <input type="text" name="DATE_OF_JOINING" required id="id_DATE_OF_JOINING" value="{{obj.DATE_OF_JOINING}}" disabled>
                </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_DATE_OF_RETIREMENT">DATE OF RETIREMENT:</label> 
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="text" name="DATE_OF_RETIREMENT" required id="id_DATE_OF_RETIREMENT" value="{{obj.DATE_OF_RETIREMENT}}" disabled>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_DESIGNATION_NAME">DESIGNATION NAME:</label>
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="text" name="DESIGNATION_NAME"  id="id_DESIGNATION_NAME" value="{{obj.DESIGNATION_NAME}}" disabled>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_GENDER">GENDER:</label>
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="text" name="GENDER"  id="id_GENDER" value="{{obj.GENDER}}" disabled>
                                  </div>
                              </div>
                          </div>
                          
                       </fieldset>
                    </div>
                 </td>
              </tr>
                    </tbody>
                </table>
                </div>
                
                <div class="item">
                <table class="table table-striped">
          <tbody>
             <tr>
                <td colspan="1">
                   <div class="well form-horizontal">
                      <fieldset>
                          <div class="form-group row">
                              <label class="col-md-4 control-label" for="id_TA">TA:</label> 
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                                         <input type="text" name="TA" id="id_TA" value="{{obj.TA}}" disabled>
                                             </div>
                                         </div>
                                  </div>
                           
                   
                          <div class="form-group row">
                              
    <label class="col-md-4 control-label" for="id_PT">PT:</label>
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="text" name="PT"  id="id_PT" value="{{obj.PT}}" disabled>
                          </div>
                              </div>
                          </div>
                          
                                  
                          <div class="form-group row"> 
    <label class="col-md-4 control-label" for="id_QUARTER">QUARTER:</label> 

                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="text" name="QUARTER"  id="id_QUARTER" value="{{obj.QUARTER}}" disabled>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
                              
    <label class="col-md-4 control-label" for="id_RENT_FREE">RENT FREE:</label>
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="text" name="RENT_FREE"  id="id_RENT_FREE" value="{{obj.RENT_FREE}}" disabled>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_QUARTER_ADDRESS">QUARTER ADDRESS:</label> 
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="text" name="QUARTER_ADDRESS" id="id_QUARTER_ADDRESS" disabled>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_HANDICAP">HANDICAP:</label> 
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="text" name="HANDICAP" id="id_HANDICAP" value="{{obj.HANDICAP}}" disabled>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_SENIOR_CITIZEN">SENIOR CITIZEN:</label>
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="text" name="SENIOR_CITIZEN"  id="id_SENIOR_CITIZEN" value="{{obj.SENIOR_CITIZEN}}" disabled>
                                  </div>
                              </div>
                          </div>
                          
                       </fieldset>
                    </div>
                 </td>
              </tr>
                    </tbody>
                </table>
        </div>
        
        <div class="item">
        <table class="table table-striped">
          <tbody>
             <tr>
                <td colspan="1">
                   <div class="well form-horizontal">
                      <fieldset>
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_DESIGNATION">DESIGNATION:</label>
        <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
        <input type="text" name="DESIGNATION"  id="id_DESIGNATION" value="{{obj.DESIGNATION}}" disabled>
            </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_DEPARTMENT">DEPARTMENT:</label>
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="text" name="DEPARTMENT"  id="id_DEPARTMENT" value="{{obj.DEPARTMENT}}" disabled>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_STAFF_TYPE">STAFF TYPE:</label>
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="text" name="STAFF_TYPE"  id="id_STAFF_TYPE" value="{{obj.STAFF_TYPE}}" disabled>
                          </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_APPOINTMENT">APPOINTMENT:</label>
        <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
        <input type="text" name="APPOINTMENT"  id="id_APPOINTMENT" value="{{obj.APPOINTMENT}}" disabled>
            </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_VACATIONAL">VACATIONAL:</label>
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="text" name="VACATIONAL"  id="id_VACATIONAL" value="{{obj.VACATIONAL}}" disabled>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_BANK_NAME">BANK NAME:</label>
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="text" name="BANK_NAME"  id="id_BANK_NAME" value="{{obj.BANK_NAME}}" disabled>
                                  </div>
                              </div>
                          </div>
                          
                          
                       </fieldset>
                    </div>
                 </td>
              </tr>
            </tbody>
        </table>
        </div>
        
                <div class="item">
        <table class="table table-striped">
          <tbody>
             <tr>
                <td colspan="1">
                   <div class="well form-horizontal">
                      <fieldset>
    
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_BANK_ACCOUNT_NUMBER">BANK ACCOUNT NUMBER:</label> 
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="text" name="BANK_ACCOUNT_NUMBER" id="id_BANK_ACCOUNT_NUMBER" value="{{obj.BANK_ACCOUNT_NUMBER}}" disabled>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_PF_NUMBER">PF NUMBER:</label> 
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="text" name="PF_NUMBER" id="id_PF_NUMBER" value="{{obj.PF_NUMBER}}" disabled>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_PRAN_NUMBER">PRAN NUMBER:</label> 
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="text" name="PRAN_NUMBER" id="id_PRAN_NUMBER" value="{{obj.PRAN_NUMBER}}" disabled>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_PAN_NUMBER">PAN NUMBER:</label> 
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="text" name="PAN_NUMBER" id="id_PAN_NUMBER" value="{{obj.PAN_NUMBER}}" disabled>
                          </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_UNDER">UNDER:</label>
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="text" name="UNDER" id="id_UNDER" value="{{obj.UNDER}}" disabled>
                          </div>
                              </div>
                          </div>
                          
                       </fieldset>
                    </div>
                 </td>
              </tr>
            </tbody>
                    </table>
        </div>
        
        <div class="item">
        <table class="table table-striped">
          <tbody>
             <tr>
                <td colspan="1">
                   <div class="well form-horizontal">
                      <fieldset>
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_LEVEL">LEVEL:</label> 
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="text" name="LEVEL" id="id_LEVEL" value="{{obj.LEVEL}}" disabled>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_BASIC">BASIC:</label> 
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                              <input type="number" name="BASIC" id="id_BASIC" value="{{obj.BASIC}}" disabled>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
        <label class="col-md-4 control-label" for="id_PAY_STATUS">PAY STATUS:</label> 
                    <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
        <input type="text" name="PAY_STATUS" id="id_PAY_STATUS" value="{{obj.PAY_STATUS}}" disabled>
                        </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
    <label class="col-md-4 control-label" for="id_RULE">RULE:</label> 
            <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
        <input type="text" name="RULE" id="id_RULE" value="{{obj.RULE}}" disabled>
                </div>
                              </div>
                          </div>
                          
                          <div class="form-group row">
                              <label class="col-md-4 control-label" for="id_REMARK">REMARK:</label>
                              <div class="col-md-7 inputGroupContainer">
                                     <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
     <input type="text" name="REMARK" maxlength="50" id="id_REMARK" value="{{obj.REMARK}}" disabled>
                                  </div>
                              </div>

                             <!-- <div class="col-md-7 inputGroupContainer">
                                <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-triangle-right"></i></span>
                                    <button onclick="myFunction()">Print this page</button>
                             </div>-->
                         </div>
                          </div>
                       </fieldset>
                    </div>
                 </td>
              </tr>
            </tbody>
          </table>
        </div>
        
        
        
    
    </form>
                <footer class="page-footer font-small black">

  <!-- Copyright -->
  <div style="color: white;" class="footer-copyright text-center py-10">2021 Batch Copyright:
    <a href="https://vnit.ac.in"> VNIT Portal</a>
    <button onclick="myFunction()">Print this page</button>
  </div>
  <!-- Copyright -->

</footer>
                
        </div>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("item");
        //  var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = slides.length}    
          if (n < 1) {slideIndex = 1}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";  
          }
        //  for (i = 0; i < dots.length; i++) {
        //      dots[i].className = dots[i].className.replace(" active", "");
        //  }
          slides[slideIndex-1].style.display = "block";  
        //  dots[slideIndex-1].className += " active";
        }    
    </script>
    <script>    
        function myFunction() {
      window.print();
    }
        </script>
</body>
</html>
